body{
    background: #000000;
}

.input-login input,.login-btn{
    display: block;
    width: 350px;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 30px;
    border-color:#FEE101;
    border-width: 3px;
    outline: none;
}

input {
    text-indent:5%;
  }

.input-login input:focus{
    width:400px;
    border-color:#F52962; 
}

.login-btn{
    background-color:  #FEE101;
    position: relative;
    font-size: 1.5em;
    bottom:1px;
    color: black;
    border: none;
   
}


.input-login ::placeholder-shown{
    position: relative;
    left:5%;
    font-size: 1em;
}

.forget-pass{
    opacity: 0.5;
}

.main-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

.form-login h1{
    position: relative;
    left:18%;
    margin-bottom: 2em;
}
  
.join-text {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
}

.form-login{
    width: 35vw;
    max-width: 50%;
 
}

.create-account{
  position: relative;
  top:3.5em;
  left: 25%;
  color:#F52962;
  font-weight: bold;
  font-size: 20px;


}

a{
    text-decoration: none;
}